.hero {
    padding-bottom: 150px;
    /* background-image: url(https://mos-071031.oml.ru/d/5.jpg); */
    background-color: tomato;
}
.hero__info {
    padding: 20px 40px 0;
    width: calc(100% - 80px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
}
.hero__info-item,
.hero__info-content, 
.hero__info-item--social,
.hero__info-item--address {
    display: flex;
    align-items: center;
}
.hero__info-item--social {
    justify-content: center;
}
.hero__info-item--address {
    justify-content: end;
}
.hero__info-icon--time svg,
.hero__info-icon--address svg,
.hero__contacts-icon svg {
    height: 22px;
    width: 22px;
    fill: var(--main-color);
}
.hero__info-icon {
    margin-right: 20px;
}
.hero__info-content p {
    margin-right: 20px;
}
.hero__info-content p:last-child {
    margin-right: 0;
}
.hero__info-social {
    padding: 10px;
    display: flex;
    align-items: center;
}
.hero__info-social::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    /* background-color: blue; */
    margin-right: 20px;
    outline: 2px solid var(--main-color);
    outline-offset: 9px;
}
.hero__info-social--facebook::before {
    background-image: url(https://img.icons8.com/?size=100&id=118468&format=png&color=000000);
    background-size: cover;
    background-repeat: no-repeat;
}
.hero__info-social--whatsapp::before {
    background-image: url(https://img.icons8.com/?size=100&id=16712&format=png&color=000000);
    background-size: cover;
    background-repeat: no-repeat;
}
.hero__header {
    margin: 20px 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    width: calc(100% - 80px);
    padding-top: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}
.hero__brand {
    display: flex;
    align-items: center;
}
.hero__brand-logo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: blue;
    margin-right: 20px;
    flex-shrink: 0;
}
.hero__brand-name {
    font-family: "Anonymous Pro", serif;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;
}
.hero__contacts {
    display: flex;
}
.hero__nav-item {
    margin: 0 10px;
    padding: 10px 20px;
}
.hero__nav-item--active {
    outline: 2px solid var(--main-color);
    outline-offset: 10px 20px;
}
.hero__nav-item:hover {
    outline: 2px solid var(--main-color);
    outline-offset: 10px 20px;
}
.hero__nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1024px) {
    .hero__nav {
        display: none;
    }
    .hero__header {
        grid-template-columns: repeat(2, 1fr);
    }
}
.hero__contacts {
    display: flex;
    justify-content: end;
    align-items: center;
}
.hero__contacts-phone {
    font-family: "Anonymous Pro", serif;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
}
.hero__contacts-icon {
    background-color: var(--main-color);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.hero__contacts-icon svg  {
    fill: black;
}
.hero__promo {
    margin: 50px auto;
    max-width: 1320px;
    /* background-color: chartreuse; */
    position: relative;
    padding-inline: 40px;
}
.hero__promo-footer {
    display: flex;
    margin-top: 20px;
}
.hero__promo-description {
    max-width: 60%;
}
.hero__promo-button {
    padding: 20px 55px;
    flex-shrink: 0;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    background-color: var(--main-color);
    width: fit-content;
}
.hero__promo-line {
    display: flex;
    width: 100%;
    align-items: center;
}
@media screen and (max-width: 1024px) {
    .hero__promo-line {
        justify-content: center;
    }
}
.hero__promo-stat {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.hero__promo-highlight {
    font-size: 150px;
    line-height: normal;
    text-transform: uppercase;
    font-family: "Anonymous Pro", serif;
    font-weight: 700;
    z-index: 2;
}
@media screen and (min-width: 768px) and (max-width: 1240px) {
    .hero__promo-highlight {
        font-size: 120px;
    }
}
@media screen and (min-width: 501px) and (max-width: 767px) {
    .hero__promo-highlight {
        font-size: 70px;
    }
}
@media screen and (max-width: 500px) {
    .hero__promo-highlight {
        font-size: 40px;
    }
}
.hero__promo-medium {
    font-size: 80px;
    text-transform: uppercase;
    font-family: "Anonymous Pro", serif;
    font-weight: 700;
}
@media screen and (min-width: 768px) and (max-width: 1240px) {
    .hero__promo-medium {
        font-size: 50px;
    }
}
@media screen and (min-width: 501px) and (max-width: 767px) {
    .hero__promo-medium {
        font-size: 30px;
    }
}
@media screen and (max-width: 500px) {
    .hero__promo-medium {
        font-size: 25px;
    }
}
.hero__promo-small {
    font-size: 40px;
    text-transform: uppercase;
    font-family: "Anonymous Pro", serif;
}
@media screen and (min-width: 768px) and (max-width: 1240px) {
    .hero__promo-small {
        font-size: 30px;
    }
}
@media screen and (min-width: 501px) and (max-width: 767px) {
    .hero__promo-small {
        font-size: 25px;
    }
}
@media screen and (max-width: 500px) {
    .hero__promo-small {
        font-size: 20px;
    }
}
.hero__promo-subtext {
    background-color: var(--main-color);
    padding-inline: 40px 20px;
    margin-left: -36px;
    z-index: 1;
    text-transform: uppercase;
}
.hero__promo-label {
    font-size: 25px;
    font-family: "Anonymous Pro", serif;
    text-transform: uppercase;
    font-weight: 700;
}
.hero__info-value {
    font-family: "Anonymous Pro", serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}
.hero__info-label {
    font-family: "Anonymous Pro", serif;
    color: var(--main-color);
    font-size: 16px;
}
.hero__promo-price {
    margin-left: 20px;
    font-weight: 700;
    color: var(--main-color);
}
@media screen and (max-width: 1024px) {
    .hero__info {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
    }
    .hero__info-item--address {
        grid-row-start: 2;
    }
    .hero__info-item--social {
        grid-row-start: 3;
    }
    .hero__info-item {
        justify-content: center;
        margin-bottom: 10px;
        flex-wrap: wrap;
    }
    .hero__promo-stats {
        display: none;
    }
    .hero__promo-footer {
        flex-direction: column;
        align-items: center;
    }
    .hero__promo-description {
        margin-right: 0;
    }
    .hero__promo-text {
        text-align: center;
        margin-bottom: 20px;
    }
    .hero__promo-subtext {
        margin-left: -28px;
    }
}
@media screen and (max-width: 768px) {
    .hero__header {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        justify-items: center;
    }
    .hero__brand {
        margin-bottom: 20px;
    }
    .hero__promo-subtext {
        margin-left: -14px;
        padding-inline: 20px;
    }
    .hero__info {
        padding: 20px 20px 0;
        width: calc(100% - 40px);
    }
    .hero__header {
        margin: 20px 20px;
        width: calc(100% - 40px);
    }
}
@media screen and (max-width: 500px) {
    .hero {
        padding-bottom: 100px;
    }
    .hero__info {
        display: none; 
    }
    .hero__info-item--time,
    .hero__info-item--address,
    .hero__info-content {
        flex-direction: column;
    }
    .hero__info-item {
        margin: 20px 0;
    }
    .hero__info-social--facebook {
        margin-bottom: 10px;
    }
    .hero__info-label p,
    .hero__info-content p,
    .hero__info-icon {
        margin-right: 0;
    }
    .hero__info-value {
        text-align: center;
    }
    .hero__brand {
        flex-direction: column;
    }
    .hero__brand-logo {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .hero__brand-name,
    .hero__brand-description {
        text-align: center;
    }
    .hero__contacts {
        flex-direction: column-reverse;
    }
    .hero__contacts-icon {
        margin-left: 0;
        margin-bottom: 20px;
    }
    .hero__promo-line {
        flex-direction: column;
        margin-bottom: 10px;
    }
    .hero__promo-button {
        padding: 20px;
    }
    .hero__promo {
        padding-inline: 20px;
    }
    .hero__header {
        border-top: none;
        margin: 0 20px;
        padding-top: 20px;
    }
}
.form {
    display: flex;
    flex-direction: column;
}
.form input {
    margin-bottom: 10px;
    padding: 20px 40px;
    outline: none;
    border: none;
    background-color: lavender;
}
.form input[type="submit"] {
    background-color: var(--main-color);
}
.form input:last-child {
    margin-bottom: 0;
}
.promo-form {
    margin-top: 40px;
}
.hero__promo-form {
    position: absolute;
    right: 40px;
    top: 0;
}
.hero__promo-form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero__promo-form-wrapper,
.form-inner {
    background-color: white;
    padding: 30px;
    box-shadow: 10px 10px 0px var(--main-color);
    max-width: 350px;
}
.hero__promo-form-title {
    text-align: center;
    margin-bottom: 10px;
}
.hero__promo-form-subtitle {
    text-align: center;
}
.form__submit-button {
    font-family: "Anonymous Pro", serif;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
}
@media screen and (max-width: 1024px) {
    .hero__promo-form {
        position: static;
        max-width: 100%;
        margin: 40px 0;
    }
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero__promo-form-wrapper {
        max-width: 350px;
    }
}
@media screen and (max-width: 500px) {
    .hero__promo-form-wrapper {
        width: 100%;
    }
    .form input {
        padding: 10px 20px;
    }
    .promo-form {
        margin-top: 20px;
    }
    .form__submit-button {
        font-size: 20px;
    }
}
.form-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 9999;
    padding-inline: 20px;
}
.form-wrapper--active {
    display: flex;
    justify-content: center;
    align-items: center;
}